/AbstractDevice.class
/Acceptor.class
/BanknoteDispenser.class
/BanknoteSlot.class
/BanknoteStorageUnit.class
/BanknoteValidator.class
/BarcodeScanner.class
/BidirectionalChannel.class
/CoinDispenser.class
/CoinSlot.class
/CoinStorageUnit.class
/CoinTray.class
/CoinValidator.class
/DisabledException.class
/ElectronicScale.class
/Emitter.class
/EmptyException.class
/FlowThroughEmitter.class
/FromStorageEmitter.class
/OverloadException.class
/ReceiptPrinter.class
/SelfCheckoutStation.class
/SimulationException.class
/UnidirectionalChannel.class
